#logo {
    float: right; /* это просто ужасно */
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
#menu li {
    float: left;
  }
  
#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
#menu li a:hover {
    background-color: #111;
    color: yellowgreen;
    transition-duration: 0.3s;
  }

body {
    background-color: whitesmoke;
}

nav {
    font-size: 20px;
    color: tomato;
    background-color: rgba(64, 224, 208, 0.2);
}
header strong a {
    margin-right: 20px;
    color: black;
    font-size: 100px;
}
header strong a:hover {
    color: yellow;
    transition-duration: 1s;
}

a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

h1:hover {
    color:royalblue;
    transition-duration: 0.3s;
}